@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


/*Header*/
header{
    width: 100%;
    height: 30%;
    background-color: black;
    color:aliceblue;
    font-family: 'Dela Gothic One', cursive;
}
 
blockquote{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
/*Frases*/
span{
    margin: 0 auto;
}
/*Navegador*/
nav{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Opciones*/

.menu-opciones{
    width: 50%;
    height: 50%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
/*Tablero*/
section{
    background-color: saddlebrown;
}

/*Tarea*/
#tablero{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: tomato;
}

tr{
    background-color: khaki;
    padding: 0;
    margin: 0;
}

td{
    border: black solid 2px;
    padding: 0;
    margin: 0;
}
